
.footer {
    max-width: 100%;
    height: 30vh;
    color: white;
    background-color: var(--darkPurple);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 0 auto;
    overflow: hidden;
}
.logo, .logoBreca  {
    max-width: 180px;
}

.contactInfo {
    width: 30%;
    height: 100%;
    padding: 1.8em 4em 1.8em 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: flex-start;
    position: relative;
    background-color: var(--darkPurple);
    z-index: 1;
}
.content {
    font-size: clamp(11px, 2em, 28px);
    color: var(--turq);
    color: var(--darkTurq);
    font-size: clamp(11px, 4em, 38px);
    font-weight: 650;
    letter-spacing: 0.1em;
    margin-bottom: 0.1em;
}

.contactInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 18px;
    color: white;
    font-weight: 500;
    font-size: clamp(10px, 2em, 18px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin: 0;
}
.contactInput:hover{
    transform: scale(1.025);
    opacity: 1; 
    color:var(--darkTurq);

}
.contactInfo > h4 {
    padding: 0.5em 0;
    text-align: left;
    font-size: clamp(10px, 1em, 14px);
    box-sizing: border-box;
    font-weight: normal;
}

.addres {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.15em;
}
.addres > h4 {
    font-weight: 400 !important;
    font-size: clamp(10px, 2em, 16px);
}
.terms {
    /*padding: 20px;*/
    text-align: right;
    font-size: clamp(10px, 1em, 14px);
    font-weight: 500;
    box-sizing: border-box;
    color: #a0aec0;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
    align-items: center;
    position: relative;
    width: 25%;
}
.socialMedia > a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}
.socialMedia > a > div{
    position: relative;
    background: none;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialMedia > a > div > img {
    filter: brightness(0) invert(1);
}
.socialMedia > a > div:hover{
    border-radius: 80px;
    box-shadow: -6px 6px 0 var(--darkTurq);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.07);

}
.socialMedia > a > div:active {
    /*background: hwb(157 36% 59%);*/
    border: 4px solid var(--darkTurq);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 var(--darkTurq);
    border-radius: 80px;
}
.socialMedia > a > div::before {
    border: solid 3px transparent;
    border-right: solid 3px var(--darkTurq);
    border-left-width: 0px;
    left: -3px;
}
.socialMedia > a > div::after {
    border: solid 10px transparent;
    border-top: solid 3px var(--darkTurq);
    border-bottom-width: 0px;
    bottom: -3px;
}





/* Fondo con formas flotantes */
.floatingBackground {
    position: relative;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--Softturq);
}

.logo, .logoBreca {
    position: relative;
    z-index: 1; /* Asegura que los logos estén sobre el fondo */
}
/* Animación para las formas */
.floatingShape {
    position: absolute;
    opacity: 0.7;
    animation: floatUp linear infinite;
    will-change: transform;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 0.7;
    }
    90% {
        opacity: 0.7;
    }
    100% {
        transform: translateY(-100vh) rotate(0deg);
        opacity: 0;
    }
}

/* Nubes */
.imgContainer {
    position: relative;
    display: inline-block;
    border-radius: 50px;
}

.mainImage {
    border-radius: 50px;
    width: 490px;
    height: 270px;
    object-fit: cover;
    display: block;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.35));
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    position: relative;
    z-index: 2;
}
.cloud {
    width: 415px;
    height: 258.3375px; /*always 0.59815 - 0.6225 of the width*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: clamp(12px, 2em, 16px); /*antes era 21*/
    line-height: 1.5;
    color: var(--turq);
}
.cloudText {
    width: 65%;
    margin-left: auto;
    margin-top: auto;
    height: 65%;
    margin-right: 14%;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    overflow: hidden;
    line-height: 1.4;
}
/* RESPONSIVE */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 2em;
        padding: 2em 0;
    }
    
    .floatingShape {
        width: 60px !important;
        height: auto !important;
    }
}

.addresResponsive {
    display: none;
}
.addresResponsive > h4 {
    font-weight: 400 !important;
    font-size: clamp(10px, 2em, 14px);
}

@media (max-width: 1550px) {
.floatingBackground {
    width: 35%;
}
.contactInfo {
    width: 40%;
}
.socialMedia {
    width: 25%;
}
.socialMedia > a > div > img{
    max-width: 35px;
}
.addres > h4 {
    font-weight: 400 !important;
    font-size: clamp(10px, 2em, 14px);
    margin-top: 1em;
}
}

@media (max-width: 1420px) {
.floatingBackground {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.contactInfo {
    width: 45%;
}
.logo, .logoBreca  {
    max-height: 65px;
}
}

@media (max-width: 1132px) {
.floatingBackground {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.contactInfo {
    padding: 4em 3em;
}

.socialMedia {
    width: 30%;
}
.logo, .logoBreca  {
    max-height: 60px;
}
}

@media (max-width: 1064px) {
.floatingBackground{
    display: none;
}
.contactInfo {
    width: 60%;
    padding: 4em ;

}
.socialMedia {
    width: 40%;
}
}

@media (max-width: 860px) {
.addres {
    display: none;
}
.footer {
    flex-direction: column;
    height: 100%;
}
.contactInfo {
    width: 100%;
    padding: 2em 0 0 0 ;
    display: flex;
    align-items: center;
}
.content {
    display: flex;
    align-items: center;
    font-size: clamp(11px, 4em, 32px);
}
.contactInput {
    justify-content: center;
    margin-top: 1em ;
}
.socialMedia {
    width: 100%;
    margin: 1em 0;
}
.addresResponsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 2em 0;
}
}

@media (max-width: 529px) {
.addresResponsive > h4 {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
}
}

@media (max-width: 378px) {
.socialMedia {
    margin: 2em 0;
}
.socialMedia > a > div > img{
    max-width: 30px;
}
.socialMedia > a > div{
    width: 50px;
    height: 50px;
}
.socialMedia > a > div:hover{
    width: 50px;
    height: 50px;

}
.content {
    font-size: clamp(11px, 4em, 28px);
}
}

