.container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  width: 100%;
  height: 100%;
  background-color: var(--background);
  align-items: center;
  position: relative;
  z-index: 1; /* AAAAAAAAAA Asegúrate de que este valor sea menor que el z-index del dropdown */
  color: black;
}