.container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4em 1em; /* reduce el padding lateral */
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: row;
}

.formContainer {
  width: 100%;
  max-width: 700px;
  padding: 3em 5em;
  font-family: sans-serif;
  border: 2px dashed var(--turq);
  border-radius: 60px;
  box-sizing: border-box;
}

.textIntro {
  color: var(--darkTurq);
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  margin-bottom: 1em;
}

.formGroup {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.formGroup > label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--yellow);
}

.inputBig,
.inputSmall,
.selectForm {
  padding: 0.5rem;
  border: 2px solid var(--turq);
  background-color: white;
  border-radius: 20px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--darkPurple);
}

.formRow {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.submitButton {
  background-color: var(--darkPurple);
  color: white;
  border: none;
  padding: 1em 3em;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
}

.submitButton:hover {
  background-color: var(--darkTurq);
}
.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%;
    padding-top: 7%;
    justify-content: flex-start;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
    padding-bottom: 8%;
    justify-content: flex-end;
}
.leftCloud {
  position: relative;

}

.rightCloud {
  position: relative;

}

/* MEDIA QUERIES PARA RESPONSIVE */
@media screen and (max-width: 990px) {
  .container {
    padding: 4em 5em;
}
.formContainer {
  padding: 3em 3em;

}
}
@media screen and (max-width: 864px) {
.left , .right {
  display: none;
}
}
@media screen and (max-width: 768px) {
  .container {
    padding: 2em 3em;
  }
  .formContainer {
    border-radius: 60px;
    padding: 3em 4em;
  }

  .textIntro {
    text-align: center;
  }

  .formRow {
    flex-direction: column;
    gap: 0.5rem;
  }

  .leftCloud,
  .rightCloud {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .container {
    padding: 0 2em;
    margin-bottom: 2em;
  }
  .formContainer {
    padding: 1.5em 1em;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

}

@media screen and (max-width: 320px) {
  .formContainer {
    padding: 1em 0.5em;
  }


  .inputBig,
  .inputSmall,
  .selectForm {
    font-size: 0.95rem;
  }


}
