.container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    min-height: 42vh;
    background-color: var(--background);
    position: relative;
    z-index: 1; /* AAAAAAAAAA Asegúrate de que este valor sea menor que el z-index del dropdown */
    color: black;
    /*gap: 5em;*/
    padding: 4em 0 6em 0;
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}
.metric {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    line-height: 1.2;
    width: 230px;
}
.icon {
    padding: 1em;
    width: 80px; /*ver relacion ladoxlado*/
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.metric > img {
    height: 40px;
}
.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1em;
}
.number {
    font-weight: 700;
    font-size: clamp(11px, 2em, 30px);
    transition: transform 0.5 ease-in;
}
.description {
    color: var(--grey);
    font-weight: 500;
    font-size: clamp(11px, 2em, 17px);
    text-align: left;
    line-height: 1.2em;
    width: 70%;
    width: 180px;
    transition: transform 0.5 ease-in;
    text-transform: uppercase;
}

.metric:hover .number {
    transform: scale(1.1);
}
.metric:hover .description {
    transform: scale(1.05);
}
/*estilos de check*/
.checkIcon {
  transition: transform 0.3s ease;
}

.metric:hover .checkIcon {
  transform: scale(1.1);
}

.animatedCheck {
  stroke-dasharray: 40; /* Longitud aproximada del check */
  stroke-dashoffset: 40;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.metric:hover .animatedCheck {
  stroke-dashoffset: 0;
}

.metric:hover .staticCheck {
    display: none;
}

@media (max-width:946px) {
    .metrics {
        gap:4em ;
    }
}