.container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    min-height: 42vh;
    background-color: var(--background);
    position: relative;
    z-index: 1; /* AAAAAAAAAA Asegúrate de que este valor sea menor que el z-index del dropdown */
    color: black;
    /*gap: 5em;*/
    padding: 4em 0;
}
.testimonies{
    display: flex;
    flex-direction: row;
    position: relative;
    
}
.testimony > img{
position: absolute;
top:115px;
left: -20px;
}
.content{
    background-color: var(--yellow);
    border-radius: 45px;
    padding: 2em;
    color: white;
    width: 410px;
    text-align: right;
}
.text{
    font-weight: 500;
    font-size: 18px;

}
.name{
    font-weight: 600;
    padding-top: 1em;
}
.job{
    font-weight: 300;
}