.container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    min-height: 42vh;
    background-color: var(--background);
    position: relative;
    z-index: 1; /* AAAAAAAAAA Asegúrate de que este valor sea menor que el z-index del dropdown */
    color: black;
    /*gap: 5em;*/
    padding: 4em 0;
    gap: 1em;
}
.container > img {
    object-fit: cover;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.title {
    font-weight: 550;
    font-size: clamp(11px, 2em, 22px);
    margin: 1em 0;
}
@media (max-width: 880px) {
.container > img {
    width: 250px;
}
}
@media (max-width: 600px) {
.container {
    flex-direction: column;
}
}